body{
    font-family: 'Schibsted Grotesk', sans-serif;
    background-image: url("login1.png");
    background-size: cover;
}

#log-form{
    width:55%;
    margin-left: 22%;
    margin-top: 2%;
    padding: 10px 20px 20px 20px;
    background-color: rgba(240, 255, 255, 0.8);
    border-radius: 10px;
    justify-content: center;
}

.reg{
    margin-left: 45%;
}

.login{
    text-align: center;
}

.text{
    text-align: center;
}

.col-md-5{
    margin: 0px;
    margin-left: 20px;
}

.col-5{
    margin: 0px;
    margin-left: 20px;
}

.appoint{
    text-align: center;
}

