body{
    font-family: 'Schibsted Grotesk', sans-serif;
    background-image: url("login1.png");
    background-size: cover;
}

#log-form{
    width:60%;
    margin-left: 20%;
    margin-top: 4%;
    padding: 25px 40px 30px 40px;
    background-color: rgba(240, 255, 255, 0.8);
    border-radius: 10px;
    justify-content: center;
}

.reg{
    margin-left: 45%;
}

.login{
    text-align: center;
}

.text{
    text-align: center;
}