body{ 
    background-image: url("../images/login1.png");
    background-size: cover;
}

.nav_bar{
    color: #fff;
    background: #262626;
    height: 70px;
    padding-top: 10px;
}

.nav_bar b{
    font-size: 30px;
    margin-left: 20px;    
}

.nav_bar a{
    font-size: 20px;
    margin-left: 20px;
}

.dashb{
    padding: 30px 0;
}

.user_id{
    background: rgba(255, 255, 255, 0.808);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 420px;
    width: 500px; 
    padding: 20px;
    text-align: center;
    font-weight: 300;
    border-radius: 20px;
    margin-top: 50px;
}

.user_id input{
    font-size: 28px;
    color: #ffffffde;
}

select:invalid {
    color: gray !important;
  }
  
.hideAlert{
	margin-top:25px;
	width:250px;
	text-align:center!important;
	display:inherit;
	font-size:15px;
	animation: movein 1s ease forwards,moveout 1s 3s ease forwards;
}

@keyframes movein{
	0%{opacity:0}
	100%{opacity:1}
	from{left:625px;}
	to{left:625px;}
}
@keyframes moveout{
	0%{opacity:1}
	100%{opacity:0}
	from{left:625px;}
	to{left:625px;}
}