body{
    font-family: 'Schibsted Grotesk', sans-serif;
    background-image: url("../images/login1.png");
    background-size: cover;
}

#log-form{
    width:60%;
    margin-left: 20%;
    margin-top: 4%;
    padding: 25px 40px 30px 40px;
    background-color: rgba(240, 255, 255, 0.8);
    border-radius: 10px;
    justify-content: center;
}

.reg{
    margin-left: 45%;
}

.login{
    text-align: center;
}

.text{
    text-align: center;
}
  
.hideAlert{
	margin-top:25px;
	width:250px;
	text-align:center!important;
	display:inherit;
	font-size:15px;
	animation: movein 1s ease forwards,moveout 1s 3s ease forwards;
}

@keyframes movein{
	0%{opacity:0}
	100%{opacity:1}
	from{left:625px;}
	to{left:625px;}
}
@keyframes moveout{
	0%{opacity:1}
	100%{opacity:0}
	from{left:625px;}
	to{left:625px;}
}